In [1]:
import pandas as pd
import numpy as np
import libreria_marina

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('Loyalty_Program.csv')

In [3]:
df.head(10)

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,100018,2017,1,3,0,3,1521,152.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
1,100102,2017,1,10,4,14,2030,203.0,0,0,Canada,Ontario,Toronto,M1R 4K3,Male,College,NaN,Single,Nova,2887.74,Standard,2013,3,NaN,NaN
2,100140,2017,1,6,0,6,1200,120.0,0,0,Canada,British Columbia,Dawson Creek,U5I 4F1,Female,College,NaN,Divorced,Nova,2838.07,Standard,2016,7,NaN,NaN
3,100214,2017,1,0,0,0,0,0.0,0,0,Canada,British Columbia,Vancouver,V5R 1W3,Male,Bachelor,63253.0,Married,Star,4170.57,Standard,2015,8,NaN,NaN
4,100272,2017,1,0,0,0,0,0.0,0,0,Canada,Ontario,Toronto,P1L 8X8,Female,Bachelor,91163.0,Divorced,Star,6622.05,Standard,2014,1,NaN,NaN
5,100301,2017,1,0,0,0,0,0.0,0,0,Canada,Ontario,Toronto,P1J 8T7,Male,Bachelor,70323.0,Divorced,Nova,48356.96,Standard,2013,9,NaN,NaN
6,100364,2017,1,0,0,0,0,0.0,0,0,Canada,Saskatchewan,Regina,S6J 3G0,Male,Bachelor,76849.0,Married,Nova,5143.88,Standard,2015,5,NaN,NaN
7,100380,2017,1,0,0,0,0,0.0,0,0,Canada,Quebec,Montreal,H2T 9K8,Female,Bachelor,69695.0,Single,Star,2465.62,Standard,2012,10,NaN,NaN
8,100428,2017,1,6,0,6,606,60.0,0,0,Canada,British Columbia,Vancouver,V6E 3D9,Male,Bachelor,63478.0,Married,Aurora,5845.43,Standard,2012,8,NaN,NaN
9,100504,2017,1,0,0,0,0,0.0,0,0,Canada,Ontario,Sudbury,M5V 1G5,Female,Bachelor,75638.0,Divorced,Nova,8807.61,Standard,2017,7,2018.0,3.0

In [4]:
libreria_marina.exploracion_basica(df)

=== EXPLORACIÓN BÁSICA DEL DATASET ===

Primeras filas:
   Loyalty Number  Year  Month  Flights Booked  Flights with Companions  \
0          100018  2017      1               3                        0
1          100102  2017      1              10                        4
2          100140  2017      1               6                        0
3          100214  2017      1               0                        0
4          100272  2017      1               0                        0

   Total Flights  Distance  Points Accumulated  Points Redeemed  \
0              3      1521               152.0                0
1             14      2030               203.0                0
2              6      1200               120.0                0
3              0         0                 0.0                0
4              0         0                 0.0                0

   Dollar Cost Points Redeemed Country          Province          City  \
0                            0  Canada           Alberta      Edmonton
1                            0  Canada           Ontario       Toronto
2                            0  Canada  British Columbia  Dawson Creek
3                            0  Canada  British Columbia     Vancouver
4                            0  Canada           Ontario       Toronto

  Postal Code  Gender Education   Salary Marital Status Loyalty Card      CLV  \
0     T9G 1W3  Female  Bachelor  92552.0        Married       Aurora  7919.20
1     M1R 4K3    Male   College      NaN         Single         Nova  2887.74
2     U5I 4F1  Female   College      NaN       Divorced         Nova  2838.07
3     V5R 1W3    Male  Bachelor  63253.0        Married         Star  4170.57
4     P1L 8X8  Female  Bachelor  91163.0       Divorced         Star  6622.05

  Enrollment Type  Enrollment Year  Enrollment Month  Cancellation Year  \
0        Standard             2016                 8                NaN
1        Standard             2013                 3                NaN
2        Standard             2016                 7                NaN
3        Standard             2015                 8                NaN
4        Standard             2014                 1                NaN

   Cancellation Month
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN

Últimas filas:
        Loyalty Number  Year  Month  Flights Booked  Flights with Companions  \
403755          999902  2018     12               0                        0
403756          999911  2018     12               0                        0
403757          999940  2018     12               3                        0
403758          999982  2018     12               0                        0
403759          999986  2018     12               0                        0

        Total Flights  Distance  Points Accumulated  Points Redeemed  \
403755              0         0                 0.0                0
403756              0         0                 0.0                0
403757              3      1233               123.0                0
403758              0         0                 0.0                0
403759              0         0                 0.0                0

        Dollar Cost Points Redeemed Country          Province         City  \
403755                            0  Canada           Ontario      Toronto
403756                            0  Canada      Newfoundland   St. John's
403757                            0  Canada            Quebec  Quebec City
403758                            0  Canada  British Columbia     Victoria
403759                            0  Canada           Ontario       Ottawa

       Postal Code  Gender Education    Salary Marital Status Loyalty Card  \
403755     M1R 4K3    Male   College       NaN        Married       Aurora
403756     A1C 6H9    Male    Doctor  217943.0         Single         Nova
403757     G1B 3L5  Female  Bachelor   47670.0        Married         Nova
403758     V10 6T5    Male   College       NaN        Married         Star
403759     K1F 2R2  Female  Bachelor   46594.0        Married         Nova

             CLV Enrollment Type  Enrollment Year  Enrollment Month  \
403755   7290.07        Standard             2014                 5
403756   8564.77        Standard             2012                 8
403757  20266.50        Standard             2017                 7
403758   2631.56        Standard             2018                 7
403759   8257.01  2018 Promotion             2018                 2

        Cancellation Year  Cancellation Month
403755                NaN                 NaN
403756                NaN                 NaN
403757                NaN                 NaN
403758                NaN                 NaN
403759                NaN                 NaN

Número de filas y columnas:
(403760, 25)

Información general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403760 entries, 0 to 403759
Data columns (total 25 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               403760 non-null  int64
 1   Year                         403760 non-null  int64
 2   Month                        403760 non-null  int64
 3   Flights Booked               403760 non-null  int64
 4   Flights with Companions      403760 non-null  int64
 5   Total Flights                403760 non-null  int64
 6   Distance                     403760 non-null  int64
 7   Points Accumulated           403760 non-null  float64
 8   Points Redeemed              403760 non-null  int64
 9   Dollar Cost Points Redeemed  403760 non-null  int64
 10  Country                      403760 non-null  object
 11  Province                     403760 non-null  object
 12  City                         403760 non-null  object
 13  Postal Code                  403760 non-null  object
 14  Gender                       403760 non-null  object
 15  Education                    403760 non-null  object
 16  Salary                       301500 non-null  float64
 17  Marital Status               403760 non-null  object
 18  Loyalty Card                 403760 non-null  object
 19  CLV                          403760 non-null  float64
 20  Enrollment Type              403760 non-null  object
 21  Enrollment Year              403760 non-null  int64
 22  Enrollment Month             403760 non-null  int64
 23  Cancellation Year            49650 non-null   float64
 24  Cancellation Month           49650 non-null   float64
dtypes: float64(5), int64(11), object(9)
memory usage: 77.0+ MB
None

Estadísticas descriptivas:
       Loyalty Number           Year          Month  Flights Booked  \
count   403760.000000  403760.000000  403760.000000   403760.000000
mean    549875.383713    2017.500352       6.501335        4.134050
std     258961.514684       0.500000       3.451982        5.230064
min     100018.000000    2017.000000       1.000000        0.000000
25%     326699.000000    2017.000000       4.000000        0.000000
50%     550598.000000    2018.000000       7.000000        1.000000
75%     772152.000000    2018.000000      10.000000        8.000000
max     999986.000000    2018.000000      12.000000       21.000000

       Flights with Companions  Total Flights       Distance  \
count            403760.000000  403760.000000  403760.000000
mean                  1.036569       5.170619    1214.460979
std                   2.080472       6.526858    1434.098521
min                   0.000000       0.000000       0.000000
25%                   0.000000       0.000000       0.000000
50%                   0.000000       1.000000     525.000000
75%                   1.000000      10.000000    2342.000000
max                  11.000000      32.000000    6293.000000

       Points Accumulated  Points Redeemed  Dollar Cost Points Redeemed  \
count       403760.000000    403760.000000                403760.000000
mean           124.263761        30.838587                     2.495973
std            146.696179       125.758002                    10.172033
min              0.000000         0.000000                     0.000000
25%              0.000000         0.000000                     0.000000
50%             53.000000         0.000000                     0.000000
75%            240.000000         0.000000                     0.000000
max            676.500000       876.000000                    71.000000

              Salary            CLV  Enrollment Year  Enrollment Month  \
count  301500.000000  403760.000000    403760.000000     403760.000000
mean    79371.732902    7990.864857      2015.250716          6.667555
std     34726.433958    6863.317160         1.979427          3.398829
min      9081.000000    1898.010000      2012.000000          1.000000
25%     59262.000000    3981.780000      2014.000000          4.000000
50%     73479.000000    5776.340000      2015.000000          7.000000
75%     88606.000000    8937.120000      2017.000000         10.000000
max    407228.000000   83325.380000      2018.000000         12.000000

       Cancellation Year  Cancellation Month
count       49650.000000        49650.000000
mean         2016.504350            6.962095
std             1.380482            3.454362
min          2013.000000            1.000000
25%          2016.000000            4.000000
50%          2017.000000            7.000000
75%          2018.000000           10.000000
max          2018.000000           12.000000

Columnas:
['Loyalty Number', 'Year', 'Month', 'Flights Booked', 'Flights with Companions', 'Total Flights', 'Distance', 'Points Accumulated', 'Points Redeemed', 'Dollar Cost Points Redeemed', 'Country', 'Province', 'City', 'Postal Code', 'Gender', 'Education', 'Salary', 'Marital Status', 'Loyalty Card', 'CLV', 'Enrollment Type', 'Enrollment Year', 'Enrollment Month', 'Cancellation Year', 'Cancellation Month']

In [5]:
libreria_marina.mostrar_estadisticas_descriptivas(df)

=== ESTADÍSTICAS DESCRIPTIVAS ===

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Salary,CLV,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
count,403760.00,403760.0,403760.00,403760.00,403760.00,403760.00,403760.00,403760.00,403760.00,403760.00,301500.00,403760.00,403760.00,403760.00,49650.00,49650.00
mean,549875.38,2017.5,6.50,4.13,1.04,5.17,1214.46,124.26,30.84,2.50,79371.73,7990.86,2015.25,6.67,2016.50,6.96
std,258961.51,0.5,3.45,5.23,2.08,6.53,1434.10,146.70,125.76,10.17,34726.43,6863.32,1.98,3.40,1.38,3.45
min,100018.00,2017.0,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,9081.00,1898.01,2012.00,1.00,2013.00,1.00
25%,326699.00,2017.0,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,59262.00,3981.78,2014.00,4.00,2016.00,4.00
50%,550598.00,2018.0,7.00,1.00,0.00,1.00,525.00,53.00,0.00,0.00,73479.00,5776.34,2015.00,7.00,2017.00,7.00
75%,772152.00,2018.0,10.00,8.00,1.00,10.00,2342.00,240.00,0.00,0.00,88606.00,8937.12,2017.00,10.00,2018.00,10.00
max,999986.00,2018.0,12.00,21.00,11.00,32.00,6293.00,676.50,876.00,71.00,407228.00,83325.38,2018.00,12.00,2018.00,12.00

# Tratamiento de nulos en columnas clave

In [6]:
libreria_marina.identificar_nulos(df)

=== COLUMNAS CON VALORES NULOS ===
Salary                102260
Cancellation Year     354110
Cancellation Month    354110
dtype: int64